@font-face {
    font-family: "FONT1";
    src: url("../fonts/Shlapak Script.otf");
}

@font-face {
    font-family: "FONT2";
    src: url("../fonts/LTRemark-May2021.otf");
}

body {
    /* overflow-x: hidden !important; */

    margin: 0;
    padding: 0;

    min-height: 100vh;

    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #FFAFBD, #defbc8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #FFAFBD, #defbc8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
    flex-grow: 1;
}

.block {
    min-height: 100vh;
}

/* ---------------------------------------------- */

.anim-block {
    background-color: aquamarine;
}

/* ---------------------------------------------- */

.head-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-block .back-l {
    position: absolute;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    z-index: 1;
    width: 110%;
}

.head-block .back-l img {
    height: 100vh;
    left: 0;
}

.head-block .front-l {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.t-1 {    
    font-family: "FONT2";
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: -15pt;
}

.t-2 {
    font-family: "FONT1";
    font-size: 84pt;
    margin-bottom: -15px;
}

.t-3 {
    font-family: "FONT2";
    font-size: 20pt;
    margin-bottom: -5px;
}

.t-4 {
    font-family: "FONT2";
    font-size: 28pt;
    text-decoration: none;
    margin: 0px;
}

.t-5 {
    font-family: "FONT2";
    font-size: 20pt;
    margin-bottom: -5px;
}

.t-6 {
    font-family: "FONT2";
    margin-bottom: 25px;
    font-size: 50pt;
}

.font-lightcolor {
    color: rgb(76, 71, 71);
}

/* ---------------------------------------------- */

.prog-block {
    padding-top: 2rem;
    z-index: 10;
}

.prog-block .back-l {
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    z-index: 1;
    width: 110%;
    height: 100%;
    top: 0;
    margin-top: -100vh;
    overflow: hidden;
}

.prog-block .back-l img {
    height: 100vh;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.prog-block .front-l {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.t-7 {
    text-align: center;
    font-family: "FONT1";
    font-size: 48pt;
    margin-top: 2rem;
}

.timetable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.pic {
    background-color: white;
    border-radius: 1000px;
    padding: 20px;
    margin: 1rem;
    box-shadow: 2px 2px 10px 2px rgba(87, 74, 74, 0.5);
}

.pic img {
    width: 100px;
    height: 100px;

}

.vid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.vid .b-caption * {
    margin: 0;
    padding: 0;
}

.vid .b-caption {
    font-family: "FONT2";
    font-size: 17pt;
}

.t-8 {
    font-size: 26pt;
}

.dived {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.d-dived {
    position: relative;
    padding-left: 20px;
    margin-left: 1rem;
    width: 100px;

    left: 50px;
}
